/*/////////////////////////////////     Edicion de video de fondo    ////////////////////////////////////////*/
video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}
/*/////////////////////////////////     Edicion de fondo de uninav    ////////////////////////////////////////*/
.fondo-UNINAV{
    background-color:black;
    background-image: url(images/fpleca\ monedita.png);
}
/*          Color de uninav, letra, tamaño y aliniacion             */
.coloruninav {
    color:goldenrod;
    font-family: verdana;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}
/*          Edicion de tamaño de la imagen/escudo                   */
.logo{
      /* Establece la altura en automático para mantener la proporción de la imagen */
      height: 80px;
      /* Establece el ancho en 100 píxeles (puedes ajustar este valor según tus necesidades) */
      width: 80px;
      /* Agrega un margen derecho de 10 píxeles para separar la imagen del texto */
      margin-right: 30px;
      /*////////////////////////////////*/
      float: left;
}
/*/////////////////////////////////     Edicion de fondo de Semar    ////////////////////////////////////////*/
/*          Color de dondo de semar            */
.fondo-SEMAR{
    background-color:navy;
}
/*          Color de letra de semar,tamaño y tipo             */
.colorsemar {
    color:goldenrod;
    font-family: verdana;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin-top: 5px !important;
}
/*/////////////////////////////////     Edicion de los botones    ////////////////////////////////////////*/
.button-container {
    text-align: right; /* Aligns the buttons to the right */
    margin-top: 8px;
    margin-block-end: 8px;
    margin-right: 1px;
    text-decoration: none;
    
}

.inline-button {
    display: inline-block;
    margin: 0 0px; /* Adds some spacing between the buttons */
    padding: 1px 20px;
    text-decoration: none;
}
/*          Color de fondo de la zona de botones             */
.fondo-boton{
    background-color:goldenrod;
}
/*/////////////////////////////////     Edicion de los botones    ////////////////////////////////////////*/
/*          Color de las letras de la tabla            */
.color-tablaeimagen{
    color: goldenrod;
}
/*          Fonfo del primer renglon            */
.fondo-imp{
    background-color:black;
    text-align: center;
    font-size: 18px;
}
/*          Fondo del segundo renglon            */

.fondo-bienv{
    background-color: navy;
}
/*          Color de letra, aliniacion, tamaño y margenes            */
.letra-bienv{
    text-align:left;
    color:white;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-block-end: 10px;
    
}
/*          Aliniacion, tamaño y margenes de las instrucciones           */
.letra-ins{
    text-align: left;
    font-size: 18px;
    margin-top: 10px;
    margin-block-end: 10px;
}
/*          Aliniacion, tamaño y margenes de las listas           */
.list-coletr{
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-block-end: 30px;
}
/*          Tamaño de letra de info          */
.letra-fin{
    text-align: center;
    font-size: 17px;
    font-weight: bold;

}
/*          Color del borde          */
.linea-ador{
    color: white;
    text-align: center;
}
  /*//////////////////////tabla formato ///////////////////////////*/
  table,th,td{
    border: 1px outset black;
    margin-left: 40px;
    margin-top: 56px !important;

}
.img-01{
    width: 350px;
    height: 350px;
    margin-right: 100px;
    margin-top: 89px !important;
}
/*/////////////////////////////////     Zona del footer    ////////////////////////////////////////*/
.ajust-foot{
    color:white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin-top: 66px !important;
    grid-template-columns: repeat(3, 1fr);
    background-color:transparent;
}
.foot-img {
    margin-top: 5px;
    height: 25px;
    width: 613px;
    background-color: transparent;
    filter: sepia(500%);
  }
