body{
    margin-bottom: 70px; /* Altura del footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: auto;
}

html {
    position: relative;
    min-height: 100%;

}

h3{
    text-align: center;
    font-family: verdana;
    font-size: 21px;
    background-color: white;
    margin-left: 180pt;
    margin-right: 180pt;
    border-style: solid;
    border-width: 2pt;
    padding: 6pt;
}

a{
    cursor: pointer;
}

.pie {
    font-family: verdana;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
}
/*/////////////////////////////////     Edicion de fondo de uninav    ////////////////////////////////////////*/
.fondo-UNINAV{
    background-color:steelblue;
    background-image: url(images/fpleca\ monedita.png);
}
.base-img{
    /* Establece la altura en automático para mantener la proporción de la imagen */
    height: 50px;
    /* Establece el ancho en 100 píxeles (puedes ajustar este valor según tus necesidades) */
    width: 50px;
    /* Agrega un margen derecho de 10 píxeles para separar la imagen del texto */
    margin-right: 30px;
    /*////////////////////////////////*/
    float: left;
    margin-top: 5px;
}

body{
    margin-bottom: 70px; /* Altura del footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: auto;
}

html {
    position: relative;
    min-height: 100%;

}

.pie {
    font-family: verdana;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
}
/*          Color de uninav, letra, tamaño y aliniacion             */
.coloruninav {
    color:#e6e2e2d9;
    font-family: verdana;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}
/*          Edicion de tamaño de la imagen/escudo                   */
.logo{
      /* Establece la altura en automático para mantener la proporción de la imagen */
      height: 80px;
      /* Establece el ancho en 100 píxeles (puedes ajustar este valor según tus necesidades) */
      width: 80px;
      /* Agrega un margen derecho de 10 píxeles para separar la imagen del texto */
      margin-right: 30px;
      /*////////////////////////////////*/
      float: left;
}
/*/////////////////////////////////     Edicion de fondo de Semar    ////////////////////////////////////////*/
/*          Color de dondo de semar            */
.fondo-SEMAR{
    background-color:transparent;
}
/*          Color de letra de semar,tamaño y tipo             */
.colorsemar {
    color:#00ccff;
    font-family: verdana;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin-top: 5px !important;

}
/*  ///////////////////////////////////////////   Edicion de menu  ///////////////////////////////////*/
/*          Color de fondo de la zona de botones             */
.fondo-menu{
    background: linear-gradient(to right,#0000,#00e1ffcb,#00ccffd1, #0066ffc3,#00e1ffcb,#00ccffd1, #0066ffc3,#0000) !important;
    height: 60px;
    text-align: center;
}
.alinear{
    text-align: center !important;
}
.fondo-opciones{
    background-color: transparent !important;
    height: 60px;
}
.img-base{
    margin-top: 5px;
    height: 50px;
    width: 50px;
}
.alinear_izquierda{
    left: 50%;
}
.estil-letras{
    background-color: transparent;
    border-color: aqua;
    background: -webkit-linear-gradient(red,white,goldenrod,white,rgb(0, 229, 255));
    font-size: 14pt;
    font-weight: bold;
    padding:5pt;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul ul li {
    float:none;
    text-align: left;
    background-color: transparent;
}

.letras-menu{
    background-color: rgb( 168, 218, 254) !important;
    border-color: aqua !important;
    font-size: 17pt;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/*/////////////////////////////////     Zona del footer    ////////////////////////////////////////*/
.ajust-foot{
    color:white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    grid-template-columns: repeat(3, 1fr);
    background-color:transparent;
    position: absolute;
    font-family: verdana;
    width: 100%;
    height: 50px;
    bottom: 0;

}
.foot-img {
    margin-top: 5px;
    height: 25px;
    width: 613px;
    background-color: transparent;
    filter: hue-rotate(180deg);
    filter:drop-shadow(10px 10px 10px rgb(6, 188, 224))
  }

a{
    cursor: pointer;
}
  /*/////////////////////////////////     Edicion de video de fondo    ////////////////////////////////////////*/
video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
    filter: grayscale(80%);
}
/*/////////////////////////////////////////////// Select/lista desplegable ///////////////////////////////*/
.boton-desplegable{
    position:absolute !important;
    background-color: transparent !important;
    margin-top: 200px;
    height: 40px !important;
    border-top-color: aqua !important;
    border-right-color:royalblue!important;
    border-bottom-color:skyblue !important;
    border-left-color: white !important;
    width: 100% !important;
    font-size: 14pt;
}
.fondo-submenu{
    background-color: transparent !important;
}
.letras-boton{
    background: -webkit-linear-gradient(goldenrod,aqua) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    text-align: center !important;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14pt;
    color:white;
}
.ajust-select{
    width: 410px !important;
}
/*/////////////////////////////////////////////// boton para el select ///////////////////////////////*/
.boton-select {
    margin-top: 235px !important;
    text-align: center !important; /* Aligns the buttons to the right */
    width: 141px !important;
    height: 40px !important;
    background-color: transparent !important;
    border-top-color: aqua !important;
    border-right-color:royalblue!important;
    border-bottom-color:skyblue !important;
    border-left-color: white !important;
}
.letras-bot-select{
    text-decoration: none !important;
    background: -webkit-linear-gradient(white,aqua, steelblue, white, aqua,steelblue, white);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*//////////////////////////////////////////////        ////////////////////////////////////////*/
.formulario {
    display: block;
}
.color-form{
    color: white;
    text-align: center;
    padding: 30px;
    height: 40px !important;
    
}
.marg-entre{
    margin-top: 15px;
}
.bordes-form{
    height: 40px !important;
    border-top-color: aqua !important;
    border-right-color:royalblue!important;
    border-bottom-color:skyblue !important;
    border-left-color: white !important;
    background-color: transparent;
}
.fondo-list{
    background: rgba( 218, 239, 254,0.70) !important;
    height: 40px;
}
.aj-list{
    width: 500px !important;
}
.alin-letras{
    text-align: center !important;
}
.largo-date{
    width: 230px !important;
}
/*//////////////////////////////////////    boooooton novedoso  ///////////////////////////////////////////*/

.btnCloud{
    background-color: transparent;
    position: relative;
    fill: rgba(255, 87, 3, 0.739);
    border: none;
    
  }
  
  .btnCloud::after {
    content: 'Guardar Periodo';
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0bc0f291;
    padding: 3px 20px;
    border-radius: 5px;
    transition: 200ms linear;
    transition-delay: 200ms;
    color: rgb(247, 247, 248);
    font-size: 13px;
    visibility: hidden;
  }
  
  .icon {
    transform: scale(1.4);
    transition: 200ms linear;
  }
  
  .btnCloud:hover > .icon {
    transform: scale(1.7);
  }
  
  .btnCloud:hover > .icon path {
    fill: #fff;
    cursor: pointer;
  }
  
  .btnCloud:hover::after {
    visibility: visible;
    opacity: 1;
    top: -100%;
  }

/*          Color de las letras de la tabla            */
.fondo-bienv{
    background-color: rgba(0, 81, 128, 0.5);
}
.fondo-forms{
    background-color: transparent !important;
    color: red;
}
.letras-form{
    background: -webkit-linear-gradient(goldenrod,white,aqua) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    text-align: center !important;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent !important;
    border-top-color: aqua !important;
    border-right-color:royalblue!important;
    border-bottom-color:skyblue !important;
    border-left-color: white !important;
}
/*          Color de letra, aliniacion, tamaño y margenes            */

  /*//////////////////////tabla formato ///////////////////////////*/
  table,th,td{
    border: 1px outset white;
    background: linear-gradient(to right,#0000,#00e1ffcb,#00ccffd1, #0066ffc3,#00e1ffcb,#00ccffd1, #0066ffc3,#0000,0.5) !important;
    border-top-color: aqua !important;
    border-right-color:royalblue!important;
    border-bottom-color:skyblue !important;
    border-left-color: white !important;
}
.espacio-der{
    margin-left:35% !important;
}
.esp-der{
    margin-left: 36.5%;
}
 .form-aling{
    margin-top: 50px !important;
 }
.margen-entre{
    margin-top:30px !important;
}
.margen-estil{
    margin-top: 30px !important;
}
/*/////////////////////////////////////////////// Select/lista desplegable ///////////////////////////////*/
.boton-desplegable{
    background-color: transparent !important;
    height: 40px !important;
    border-top-color: aqua !important;
    border-right-color:royalblue!important;
    border-bottom-color:skyblue !important;
    border-left-color: white !important;
}
.fondo-submenu{
    background-color: white !important;
}
.letras-boton{
    background: -webkit-linear-gradient(goldenrod,white,aqua) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    text-align: center !important;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ajust-select{
    width: 570px !important;
    margin-left: center !important;
}
/*/////////////////////////////////////////////// boton para el select ///////////////////////////////*/
.boton-select {
    background-color: transparent !important;
    border-top-color: aqua !important;
    border-right-color:royalblue!important;
    border-bottom-color:skyblue !important;
    border-left-color: white !important;
}
/*///////////////////////////////////// /////////////////////////////////*/
.bn632-hover {
    width: 180px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 58, 230);
    cursor: pointer;
    margin: 20px;
    height: 30px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn18 {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }
  .alin-bot{
    left:  0%!important;
  }
  /*/////////////////////////////////////  zona de edicion del forms ///////////////////////////////////////*/
  .letras-PDF{
    background: -webkit-linear-gradient(goldenrod,aqua,white) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    text-align: left !important;
  }
  .fondo-archivos{
    background-color: transparent !important;
    color:rgba(0, 255, 255, 0.775) !important;
  }
  .margenes-deco{
    border-top-color: aqua !important;
    border-right-color:royalblue!important;
    border-bottom-color:skyblue !important;
    border-left-color: white !important;
}
/*/////////////////////////////////////////////////////    Bton de excel     ////////////////////////////////////////////////////*/
.bn633-hover {
    width: 190px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 166, 255);
    cursor: pointer;
    margin: 20px;
    height: 30px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn633-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn633-hover:focus {
    outline: none;
  }
  
  .bn633-hover.bn19 {
    background: rgba(168, 218, 254,0.30) !important;
    border-color: white;
    border-width: 3pt;
    color:white;
    box-shadow: 0 4px 15px 0 rgba(14, 10, 229, 0.75);
  }
  .al-bott{
    text-align: center !important;
  }
  .excel{
    width: 50px !important;
    height: 50px !important;
    margin-block-end: 10px;
  }