body{
    margin-bottom: 70px; /* Altura del footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: auto;
}

html {
    position: relative;
    min-height: 100%;

}

h3{
    text-align: center;
    font-family: verdana;
    font-size: 21px;
    background-color: white;
    margin-left: 180pt;
    margin-right: 180pt;
    border-style: solid;
    border-width: 2pt;
    padding: 6pt;
}

a{
    cursor: pointer;
}

.pie {
    font-family: verdana;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
}
/*/////////////////////////////////     Edicion de fondo de uninav    ////////////////////////////////////////*/
.fondo-UNINAV{
    background-color:steelblue;
    background-image: url(images/fpleca\ monedita.png);
}
.base-img{
    /* Establece la altura en automático para mantener la proporción de la imagen */
    height: 50px;
    /* Establece el ancho en 100 píxeles (puedes ajustar este valor según tus necesidades) */
    width: 50px;
    /* Agrega un margen derecho de 10 píxeles para separar la imagen del texto */
    margin-right: 30px;
    /*////////////////////////////////*/
    float: left;
    margin-top: 5px;
}
/*          Color de uninav, letra, tamaño y aliniacion             */
.coloruninav {
    color:#e6e2e2d9;
    font-family:verdana;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}
/*          Edicion de tamaño de la imagen/escudo                   */
.logo{
      /* Establece la altura en automático para mantener la proporción de la imagen */
      height: 80px;
      /* Establece el ancho en 100 píxeles (puedes ajustar este valor según tus necesidades) */
      width: 80px;
      /* Agrega un margen derecho de 10 píxeles para separar la imagen del texto */
      margin-right: 30px;
      /*////////////////////////////////*/
      float: left;
}
/*/////////////////////////////////     Edicion de fondo de Semar    ////////////////////////////////////////*/
/*          Color de dondo de semar            */
.fondo-SEMAR{
    background-color:transparent;
}
/*          Color de letra de semar,tamaño y tipo             */
.colorsemar {
    color:#00ccff;
    font-family: verdana;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin-top: 5px !important;

}

body{
    margin-bottom: 70px; /* Altura del footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: auto;
}

html {
    position: relative;
    min-height: 100%;

}

.pie {
    font-family: verdana;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
}
/*  ///////////////////////////////////////////   Edicion de menu  ///////////////////////////////////*/
/*          Color de fondo de la zona de botones             */
.fondo-menu{
    background: linear-gradient(to right,#0000,#00e1ffcb,#00ccffd1, #0066ffc3,#00e1ffcb,#00ccffd1, #0066ffc3,#0000) !important;
    height: 60px;
    text-align: center;
}
.alinear{
    text-align: center !important;
}
.fondo-opciones{
    background-color: transparent !important;
    height: 60px;
}
.img-base{
    margin-top: 5px;
    height: 50px;
    width: 50px;
}
.alinear_izquierda{
    left: 50%;
}
.estil-letras{
    background-color: transparent;
    border-color: aqua;
    background: -webkit-linear-gradient(red,white,goldenrod,white,rgb(0, 229, 255));
    font-size: 14pt;
    font-weight: bold;
    padding:5pt;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul ul li {
    float:none;
    text-align: left;
    background-color: transparent;
}

.letras-menu{
    background-color: rgb( 168, 218, 254) !important;
    border-color: aqua !important;
    font-size: 17pt;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/*/////////////////////////////////     Zona del footer    ////////////////////////////////////////*/
.ajust-foot{
    color:white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    grid-template-columns: repeat(3, 1fr);
    background-color:transparent;
    position: absolute;
    font-family: verdana;
    width: 100%;
    height: 50px;
    bottom: 0;

}
.foot-img {
    margin-top: 5px;
    height: 25px;
    width: 613px;
    background-color: transparent;
    filter: hue-rotate(180deg);
    filter:drop-shadow(10px 10px 10px rgb(6, 188, 224))
  }

a{
    cursor: pointer;
}

h3{
    text-align: center;
    font-family: verdana;
    font-size: 21px;
    background-color: white;
    margin-left: 180pt;
    margin-right: 180pt;
    border-style: solid;
    border-width: 2pt;
    padding: 6pt;
}

.ajust-foot{
    color:white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    top: 89%;
    grid-template-columns: repeat(3, 1fr);
    background-color:transparent;
    position: absolute;

}
.foot-img {
    margin-top: 5px;
    height: 25px;
    width: 613px;
    background-color: transparent;
    filter: hue-rotate(180deg);
    filter:drop-shadow(10px 10px 10px rgb(6, 188, 224))
  }
  /*/////////////////////////////////     Edicion de video de fondo    ////////////////////////////////////////*/
video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
    filter: grayscale(80%);
}

  .bn632-hover {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn18 {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }
  /*******/
  .bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255) !important;
    background: rgba(168, 218, 254,0.30) !important;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    height: 40px !important;
    width: 200px !important;
  }
  
  .bn5:before {
    content: "";
    background: rgba(168, 218, 254,0.30);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color:transparent;
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /*/////////////////////////////////////////////   color de las letras  /////////////////////////////////////*/
  .letras-bot-tembl{
    text-decoration: none !important;
    color: black;
    font-family:Helvetica;
  }
  .margen-arrb{
    margin-top: 150px !important;
  }