body{
    margin-bottom: 70px; /* Altura del footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: auto;
}

html {
    position: relative;
    min-height: 100%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h3{
    text-align: center;
    font-family: verdana;
    font-size: 21px;
    background-color: white;
    margin-left: 180pt;
    margin-right: 180pt;
    border-style: solid;
    border-width: 2pt;
    padding: 6pt;
}

a{
    cursor: pointer;
}

.pie {
    font-family: verdana;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
}
/*/////////////////////////////////     Edicion de fondo de uninav    ////////////////////////////////////////*/
.fondo-UNINAV{
    background-color:steelblue;
    background-image: url(images/fpleca\ monedita.png);
}
.base-img{
    /* Establece la altura en automático para mantener la proporción de la imagen */
    height: 50px;
    /* Establece el ancho en 100 píxeles (puedes ajustar este valor según tus necesidades) */
    width: 50px;
    /* Agrega un margen derecho de 10 píxeles para separar la imagen del texto */
    margin-right: 30px;
    /*////////////////////////////////*/
    float: left;
    margin-top: 5px;
}
/*          Color de uninav, letra, tamaño y aliniacion             */
.coloruninav {
    color:#e6e2e2d9;
    font-family: verdana;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}
/*          Edicion de tamaño de la imagen/escudo                   */
.logo{
      /* Establece la altura en automático para mantener la proporción de la imagen */
      height: 80px;
      /* Establece el ancho en 100 píxeles (puedes ajustar este valor según tus necesidades) */
      width: 80px;
      /* Agrega un margen derecho de 10 píxeles para separar la imagen del texto */
      margin-right: 30px;
      /*////////////////////////////////*/
      float: left;
}
/*/////////////////////////////////     Edicion de fondo de Semar    ////////////////////////////////////////*/
/*          Color de dondo de semar            */
.fondo-SEMAR{
    background-color:transparent;
}
/*          Color de letra de semar,tamaño y tipo             */
.colorsemar {
    color:#00ccff;
    font-family: verdana;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin-top: 5px !important;

}
/*  ///////////////////////////////////////////   Edicion de menu  ///////////////////////////////////*/
/*          Color de fondo de la zona de botones             */
.fondo-menu{
    background: linear-gradient(to right,#0000,#00e1ffcb,#00ccffd1, #0066ffc3,#00e1ffcb,#00ccffd1, #0066ffc3,#0000) !important;
    height: 60px;
    text-align: center;
}
.alinear{
    text-align: center !important;
}
.fondo-opciones{
    background-color: transparent !important;
    height: 60px;
}
.img-base{
    margin-top: 5px;
    height: 50px;
    width: 50px;
}
.alinear_izquierda{
    left: 50%;
}
.estil-letras{
    background-color: transparent;
    border-color: aqua;
    background: -webkit-linear-gradient(red,white,goldenrod,white,rgb(0, 229, 255));
    font-size: 14pt;
    font-weight: bold;
    padding:5pt;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul ul li {
    float:none;
    text-align: left;
    background-color: transparent;
}

.letras-menu{
    background-color: rgb( 168, 218, 254) !important;
    border-color: aqua !important;
    font-size: 17pt;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/*/////////////////////////////////     Zona del footer    ////////////////////////////////////////*/
.ajust-foot{
    color:white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    grid-template-columns: repeat(3, 1fr);
    background-color:transparent;
    position: absolute;
    font-family: verdana;
    width: 100%;
    height: 50px;
    bottom: 0;

}
.foot-img {
    margin-top: 5px;
    height: 25px;
    width: 613px;
    background-color: transparent;
    filter: hue-rotate(180deg);
    filter:drop-shadow(10px 10px 10px rgb(6, 188, 224))
  }

a{
    cursor: pointer;
}
  /*/////////////////////////////////     Edicion de video de fondo    ////////////////////////////////////////*/
video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
    filter: grayscale(80%);
}
.color-letras-perf{
    color:#00ccffa9 !important;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fondo-perfil{
    background-color: rgba( 218, 239, 254, 0.3) !important;
    text-align: center !important;
    border-top-color: aqua !important;
    border-right-color:royalblue!important;
    border-bottom-color:skyblue !important;
    border-left-color: white !important;
    margin-left: auto;
    margin-right: auto;
    padding: 10pt;
}
.ltras-perfil{
    background: -webkit-linear-gradient(aqua,white,rgb(0, 229, 255));
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.color-form{
    color: rgb(80, 255, 168) !important;
}
